# Ignore bundler config.
/ .bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.splite3-journal

# Ignore all logfiles and templates.
/log/*.log
/tmp

# IGnore other unneeded files
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret